<div class="contenedorHome">
    <nav class="barra"><h1 class="tituloPrincipal">Bienvenido  </h1>
    <ul class="links">
    <li> <a href="http://localhost:3000/api/products">products </a></li>
    <li>  <a href="http://localhost:3000/api/carts">carts</a></li>
    <li>  <a href="http://localhost:3000/chat">chat</a></li>
    </ul>
</nav>
    <div class="contenedor contenedor-img">
        
        
        
        

    </div>
  </div>
