

<div id="login-form">
<nav><p class="logo">Coder House</p></nav>

<button class="boton-index" >
<a href="/login">
Iniciar sesion
</a></button>

<button class="boton-index" >
<a href="/register">
Registrarse
</a></button>



</div>
